services:
  backend:
    image: oj-backend:1.0.0
    build:
      context: ./backend
      dockerfile: dockerfile
    ports: 
      - "8080:8080"
    depends_on:
      - mysql
      - kafka
      - seaweedfs
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/oj_db
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - S3_ENDPOINT=http://seaweedfs:8333
      - SPRING_WEB_CORS_ALLOWED_ORIGINS=http://localhost:4321,http://localhost:81,http://localhost,http://nginx:80
    volumes:
      - ./data:/app/data

  mysql:
    image: mysql:8.0-debian
    environment:
      MYSQL_DATABASE: oj_db
      MYSQL_USER: oj_admin
      MYSQL_PASSWORD: oj_token
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mysql-data:/var/lib/mysql
      - ./sqlschema:/docker-entrypoint-initdb.d:ro

  kafka:
    image: apache/kafka:4.1.1
    hostname: kafka
    ports:
      - "9092:9092"   # 给宿主机访问（localhost:9092）
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_NUM_PARTITIONS=2
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
    volumes:
      - kafka-data:/var/lib/kafka/data

  seaweedfs:
    image: chrislusf/seaweedfs:4.02
    command: server -s3 -s3.config=/etc/seaweedfs/s3_config.json
    ports:
      - "9333:9333"
      - "8888:8888"
      - "8333:8333"
    volumes:
      - seaweedfs-data:/data
      - ./seaweedfs_config/s3_config.json:/etc/seaweedfs/s3_config.json:ro

  frontend:
    build:
      context: ./fronted
      dockerfile: Dockerfile
      args:
        PUBLIC_API_URL: /api
    environment:
      - HOST=0.0.0.0
      - PORT=4321
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "81:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

  judge-worker:
    build:
      context: ./judge_worker
      dockerfile: Dockerfile
    depends_on:
      - kafka
      - seaweedfs
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - S3_ENDPOINT=http://seaweedfs:8333
      - S3_REGION=ap-northeast-1
      - S3_ACCESS_KEY=admin
      - S3_SECRET_KEY=admin
      - S3_BUCKET=oj-data
      # 下面两项用于避免“consumer poll timeout”导致 worker 被踢出消费组（按你最坏评测时长改大）
      - SPRING_KAFKA_CONSUMER_PROPERTIES_MAX_POLL_INTERVAL_MS=1800000
      - SPRING_KAFKA_CONSUMER_MAX_POLL_RECORDS=1
      - KAFKA_MAX_POLL=1
      - KAFKA_MAX_POLL_INTERVAL_MS=1800000
volumes:
  mysql-data:
    driver: local
    driver_opts:
      type: none
      device: ./data/mysql
      o: bind
  kafka-data:
    driver: local
    driver_opts:
      type: none
      device: ./data/kafka
      o: bind
  seaweedfs-data:
    driver: local
    driver_opts:
      type: none
      device: ./data/seaweedfs
      o: bind
