services:
  backend:
    image: oj-backend:1.0.0
    build:
      context: .
      dockerfile: dockerfile
    ports: 
      - "8080:8080"
    depends_on:
      - mysql
      - kafka
    volumes:
      - ./data:/app/data
  mysql:
    image: mysql:8.0-debian
    environment:
      MYSQL_DATABASE: oj_db
      MYSQL_USER: oj_admin
      MYSQL_PASSWORD: oj_token
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./sqlschema:/docker-entrypoint-initdb.d:ro
  kafka:
    image: apache/kafka:4.1.1
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=DEV://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=DEV://kafka:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=DEV:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_NUM_PARTITIONS=2
      - KAFKA_INTER_BROKER_LISTENER_NAME=DEV
    volumes:
      - kafka-data:/var/lib/kafka/data

volumes:
  mysql-data:
  kafka-data:
  